*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
/* --------------------
     common styles 
-------------------- */

.container{
	max-width: 1170px;
	margin: 0 auto;
}
hr{
	width: 100%;
	border: none;
	height: 1px;
	background-color: rgb(75, 75, 75);
}
/* ----------------------------
     banner section styles
------------------------------- */
.banner{
	position: relative;
	height: 85vh;
	background-color: #161616;
	border-radius: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	margin-top: 7.5vh;
	margin-bottom: 7.5vh;
}
.banner-text{
	padding: 1em;
	color: white;
	margin-left: 4em;
}
.banner-title{
	font-size: 3.5em;
	font-weight: 700;
}
.banner-text> p{
	font-size: 16px;
	font-weight: 400;
	margin: 20px 0;
}
.watch-live-btn{
	font-size: 20px;
	font-weight: 400;
	padding: 10px 16px;
	border-radius: 5px;
	margin-top: 20px;
	border: none;
	background-color: #DD0000;
	display: flex;
	align-items: center;
}

/* .watch-live-btn styles */

.watch-live-btn > a{
	text-decoration: none;
	color:#fff;
}

.banner-img img{
	margin-left: 1em;
	width: 35%;
	position: absolute;
	bottom: 0;
}

/* ----------------------------
     main section styles
------------------------------- */
main{
	display: flex;
	justify-content: center;
}
.main-section{
	max-width:1170px;
	display: grid;
	grid-template-columns: 300px 1fr;
	margin: 3em 0;
}

/* nav links styles */

nav{
	padding: 0 30px;
	background-color: #161616;
	border-radius: 10px;
	height: 332px;
}
nav ul li{
	margin: 40px 0;
	list-style: none;
	text-align: center;
	border-radius: 5px;
	padding: 17px 40px;
	background-color: white;
}
nav ul li a{
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
}
.active{
	background-color: red;
}
.active a{
	color: #fff;
}

/* blogs styles */

.blogs{
	margin-left: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.blog{
	box-shadow: 2px 2px 25px gray;
	border-radius: 10px;
	overflow: hidden;
}
.blog-thumbail img{
	width: 100%;
}
.blog-detail{
	padding: 15px;
	background-color: rgb(251, 248, 248);
}
.transfer-btn{
	border: 1px solid #161616;
	padding: 5px 15px;
    border-radius: 5px;
	background-color: transparent;
}
.transfer-btn a{
	Font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: #161616;
}
.blog-title{
	margin: 15px 0;
	font-size: 18px;
	font-weight: 600;
}

.blog-icon, .blog-icon>span{
	display: flex;
	align-items: center;
}
.blog-icon>span>i{
	margin-right: 10px;
}
.blog-duration{
	margin-right: 2em;
}

/* ----------------------------
    footer section styles
------------------------------- */
footer{
	background-color: #1E1E1E;
	padding: 2em 6em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer h2{
	margin: 2em 0;
	color: #fff;
}
.footer-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2em 0;
}
.footer-links li{
	list-style: none;
	margin: 1em;
}
.footer-links li a{
	font-size: 16px;
	text-decoration: none;
	color: #B9B9B9;
	letter-spacing: 1px;
}
.social-meadia-icons i{
	font-size: 2.3em;
	border: 3px solid #fff;
	padding: .8rem;
	border-radius: 50%;
	margin: .5em;
}
.fa-facebook{
	color: #4267B2;
}
.fa-twitter{
	color: #1DA1F2;
}
.fa-instagram{
	color: #d38217;
}
.fa-pinterest{
	color: #E60023;
}